<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/icon.png">
    <title>Document</title>
<body>
    <section>
        <div id="top">
            <nav>
                <a href="index.html">CUI</a>
                <a href="Gui.html">GUI</a>
            </nav>
        </div>
        <div id="main">
            <div class="main-left">
                <div class="main-l-top">
                    <p class="c-red">●</p>
                    <p class="c-yellow">●</p>
                    <p class="c-green">●</p>
                </div>
                <img v-if="show==true" v-bind:src="imageName" alt="">
                <iframe v-if="show==false" v-bind:src="webUrl" frameborder="0"></iframe>
            </div>
            <div id="gui-right">
                <transition name="fade">
                    <div v-if="win==true" class="gui-img" v-on:click="start">
                        <img src="/img/logo-1.png" alt="">
                    </div>
                </transition>
                <div class="table-1" v-if="table==true">
                    <table class="t-1">
                        <tbody>
                            <tr>
                                <td v-on:click="showWeb">show web page</td>
                                <td v-on:click="showProfile">show profile</td>
                            </tr>
                            <tr>
                                <td v-on:click="shutDown">shut down</td>
                                <td>　　★★★★　　　★★★★<br>
                                    　★　　　　★　★　　　　★<br>
                                    　★　･*･ ∧_∧★∧_∧･*･　★<br>
                                    　★　’.　(｡･ω･)(･ω･｡)　’　★<br>
                                    　　★　’･|　つ♥と　|･’　★<br>
                                    　　　★　*ﾟ’･｡°｡･ﾟ’*　★<br>
                                    　　　￣￣￣￣￣￣￣￣
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="tableProfile==true" class="table-2">
                    <table class="t-2">
                        <tbody>
                            <tr>
                                <td v-on:click="pro_about">about</td>
                                <td v-on:click="pro_hobby">hobby</td>
                            </tr>
                            <tr>
                                <td v-on:click="pro_book">book</td>
                                <td v-on:click="pro_back">back</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="tableWeb==true" class="table-2">
                    <table class="t-2">
                        <tbody>
                            <tr>
                                <td v-on:click="web_osakahu">大阪府立大学ホームページ</td>
                                <td v-on:click="web_y">wikipedia 大阪府立大学</td>
                            </tr>
                            <tr>
                                <td v-on:click="web_g">公立大学法人大阪</td>
                                <td v-on:click="web_back">back</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>
</html>