*{
    margin: 0;
    padding: 0;
}
html, body,section{
    height: 100%;
    background-color: #282828;
}
#top{
    width: 100%;
    padding-top: 30px;
}
nav{
    height: 60px;
    width: 60%;
    margin: 0 auto;
    background-color: #ACACAC;
    border-radius: 30px;
    display: flex;
}
nav a{
    display: block;
    height: 60px;
    width: 50%;
    text-align: center;
    line-height: 60px;
    color: #19191A;
    text-decoration: none;
}
nav a:hover{
    color: #fff;
}
#main{
    display: flex;
    padding-top: 30px;
}
.main-left{
    width: 70%;
}
.terminal-top{
    width: 100%;
    background-color: #ACACAC;
    height: 30px;
    color: #fff;
    text-align: center;
}
.terminal{
    color: #fff;
    width: 25%;
    border: solid 2px #ACACAC;
    background-color: #19191A;
    padding-bottom: 200px;
}
.terminal-main{
    padding: 10px;
}
.art{
    font-weight: 100;
    line-height: 110%;
    color:aqua;
}
.comand b{
    color: chartreuse;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}
.comand .c-white{
    color: #fff;
}
.comand p{
    white-space: pre-line;
}
.comand input[type="text"] {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}